@use "sass:list";
@use '../01_utilities/variables' as utilities;

:root {
  @for $i from 1 through list.length(utilities.$spacings) {
    $spacing: list.nth(utilities.$spacings, $i);
    --mlt-sys-spacing-#{$i}: #{$spacing};
  }
}

@for $i from 1 through list.length(utilities.$spacings) {
  .g--padding-#{$i} {
    padding: var(--mlt-sys-spacing-#{$i});
  }
  
  .g--margin-#{$i} {
    margin: var(--mlt-sys-spacing-#{$i});
  }
  
  .g--gap-#{$i} {
    gap: var(--mlt-sys-spacing-#{$i});
  }
}
