<div class="c-categories-management">
  <header class="c-categories-management__header">
    <h2 class="c-categories-management__title">Categories Management</h2>
    <div class="c-categories-management__actions">
      <button class="c-categories-management__btn c-categories-management__btn--primary" routerLink="/categories/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
        New Category
      </button>
    </div>
  </header>

  <section class="c-categories-management__table-section">
    <table class="c-categories-management__table">
      <thead class="c-categories-management__table-head">
        <tr class="c-categories-management__table-row">
          <th class="c-categories-management__table-cell">ID</th>
          <th class="c-categories-management__table-cell">Name</th>
          <th class="c-categories-management__table-cell">Description</th>
          <th class="c-categories-management__table-cell">Actions</th>
        </tr>
      </thead>
      <tbody class="c-categories-management__table-body">
        @for (cat of categories; track cat.categoryId) {
        <tr class="c-categories-management__table-row">
          <td class="c-categories-management__table-cell">{{ cat.categoryId }}</td>
          <td class="c-categories-management__table-cell">
            <a class="c-categories-management__table-link" routerLink="/categories/{{cat.categoryId}}/edit">
              {{ cat.name }}
            </a>
          </td>
          <td class="c-categories-management__table-cell">{{ cat.description }}</td>
          <td class="c-categories-management__table-cell">
            <div class="c-categories-management__actions-row">
              <button class="c-categories-management__iconbtn" (click)="deleteCategory(cat.categoryId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                </svg>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>

</div>
