  <div class="c-welcome">
    <div class="c-welcome__content">
      <img src="img/welcome-cat.jpg" class="c-welcome__image">
      <h1 class="c-welcome__title">Welcome to the VetUp Administration Panel</h1>
      <p class="c-welcome__subtitle">
        Manage articles, users, and settings easily from here.
      </p>

      <div class="c-welcome__actions">
        <a routerLink="/products" class="c-welcome__btn">Go to Article Management</a>
        <a routerLink="/not-found" class="c-welcome__btn c-welcome__btn--secondary">View Statistics</a>
      </div>
    </div>
  </div>
